$gridi-components-off-canvas-generate-classes: true !default;
$gridi-components-off-canvas-z-index: 50 !default;
$gridi-components-off-canvas-background: $document-background-color !default;
$gridi-components-off-canvas-open-duration: 0.4s !default;
$gridi-components-off-canvas-open-timing-function: ease !default;
$gridi-components-off-canvas-open-delay: null !default;
//Defined off canvas transition for each screens.
$gridi-components-off-canvas-open-transition-for-screens: null !default;
/*
$gridi-components-off-canvas-open-transition-for-screens: (
    s2: (
        duration: 0.4s,
        timing-function: ease,
        delay: null
    )
) !default;
*/

//Horizontal off canvas
$gridi-components-off-canvas-horizontal-width: 100% !default;
//Defined off canvas width for each screens.
$gridi-components-off-canvas-horizontal-width-for-screens: (
    s2: 350px
) !default;

//Vertical off canvas
$gridi-components-off-canvas-vertical-height: 100% !default;
//Defined off canvas width for each screens.
$gridi-components-off-canvas-vertical-height-for-screens: (
    s2: 350px
) !default;